﻿@{
    ViewData["Title"] = "Carrossel";
}
@model List<Produto>

<h3>Catálogo</h3>
<div id="my-carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{
            const int TAMANHO_PAGINA = 4;
            int numPaginas = (int)Math.Ceiling((double) Model.Count() / TAMANHO_PAGINA);
        }

        @for (int pagina = 0; pagina < numPaginas; pagina++)
        {
            <div class="item @(pagina == 0 ? "active" : "")">
                <div class="row">

                    @{
                        var produtosDaPagina =
                            Model
                            .Skip(TAMANHO_PAGINA * pagina)
                            .Take(TAMANHO_PAGINA);
                     }

                    @foreach (var produto in produtosDaPagina)
                    {
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="~/images/produtos/large_@(produto.Id).jpg" />
                                </div>
                                <div class="panel-footer">
                                    <div>@produto.Nome</div>
                                    <div>R$ @produto.Preco</div>
                                    <div class="text-center">
                                        <a asp-controller="Pedido" asp-action="Carrinho">Adicionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>

        }
       
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>