﻿
@{
    ViewData["Title"] = "Resumo";
}
@model CasaDoCodigo.Models.ViewModels.CarrinhoViewModel
<h3>Resumo do Pedido</h3>

<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Número do Pedido:12345678</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Seus Dados</h3>
                <div>João da Silva</div>
                <div>(11)2577895711</div>
            </div>
            <div class="col-md-3">
                joao@alura.com.br
            </div>
            <div class="col-md-6">
                <h3>Endereço de Entrega</h3>
                <div>Av Vergueiro 1123, São Paulo</div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantidade</h3>
            </div>
        </div>

        @foreach (var item in Model.Itens)
        {
            <div class="row">
                <div class="col-md-10">
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">@item.Quantidade</div>
                </div>
            </div>
        }
    </div>
</div>